@model IEnumerable<SavourSA_Project.Models.Recipe>

@{
    ViewBag.Title = "Browse Recipes";
}

<div class="container" style="padding:40px 15px;">
    <h1 class="text-center" style="margin-bottom:40px;">Browse Recipes</h1>

    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="col-md-4" style="margin-bottom:30px;">
                <div class="panel panel-default" style="height:100%;">
                    <img src="@(string.IsNullOrEmpty(recipe.ImageUrl) ? "/Content/images/recipe-placeholder.jpg" : recipe.ImageUrl)"
                         class="img-responsive" style="width:100%; height:200px; object-fit:cover;" />
                    <div class="panel-body">
                        <h4>@recipe.Title</h4>
                        <p>@recipe.ShortDescription</p>
                        @Html.ActionLink("View Recipe", "RecipeDetails", "Guest", new { id = recipe.RecipeId }, new { @class = "btn btn-warning btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>

    @if (!Model.Any())
    {
        <p class="text-center">No recipes have been shared yet. Check back soon!</p>
    }
</div>